<!DOCTYPE html>
<html lang='en'>
<head >
  <!-- <base href='/'> -->
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>ChatterBox | <%= activeTab %> </title>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="FontAwesome/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="FontAwesome/css/brands.min.css" type="text/css">

  <link rel='stylesheet' href='/bootswatch/dist/darkly/bootstrap.min.css' type='text/css'>
  <script src='/jquery/dist/jquery.slim.min.js'></script>
  <script src='/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
  <script src="FontAwesome/js/all.min.js"></script>
</head>