<div class="tab-content" id="v-pills-tabContent">
  <% rooms.forEach(room => { %>
    <div class="tab-pane fade show" id="<%= room.name %>" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <%= room._id %>
      Random text
      <%= room.name %>
    </div>
<% }) %>
    
</div>