<div class="container tab-content mt-4" id="v-pills-tabContent">
  <%- include('../partials/invitemodal.ejs') %>

  <% rooms.forEach(room => { %>
  <div class="tab-pane fade show" id="<%= room.name %>" role="tabpanel">
    <div class="row">
      <div class="col-sm-9">
        <!-- We can pass objects to child views like this -->

        <%- include('../partials/chatscreen.ejs', { "room": room }) %>
      </div>
      <div class="col-sm-3 p-0 m-0" style="background-color: #212121;" id="roominfo">
        <%- include('../partials/infoscreen.ejs', { "room": room }) %>
      </div>
    </div>
  </div>
  <% }) %>
</div>