<%- include('../partials/profilemodal.ejs') %>
<div class="w-100 h-100 pt-4 justify-content-between d-flex flex-column">
  <div id="sidepane-header">

    <div id="search" class="w-100 px-3" style="position: absolute !important;">
      <div class="input-group  ">
        <input type="text" class="form-control bg-dark text-white" id="searchInput" autocomplete="off">
        <div class="input-group-append">
          <button class="input-group-text" id="searchButton" href="#collapseSearch" style="outline: none !important;"><i
              class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="collapse w-100" id="collapseSearch">
        <div class="card card-body p-0">
          <div class="d-flex justify-content-end">
            <button class="btn" data-target="#collapseSearch" data-toggle="collapse"> <i class="fa fa-times"
                aria-hidden="true"></i> </button>
          </div>
          <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <ul class="list-group list-group-flush" id="searchList">
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between mx-3 mt-5 align-items-center">
      <a class="text-muted h5" data-toggle="collapse" href="#pinnedChats" role="button" aria-expanded="false"
        aria-controls="pinnedChats">
        Pinned Chats
      </a>
      <p> <i class="fa fa-minus" aria-hidden="true"></i></p>
    </div>

    <div class="collapse" id="pinnedChats">
      <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Chat 1</span>
            <span class="badge badge-pilsl badge-danger d-flex align-items-center">1</span>
          </div>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-between mx-3 mt-3 align-items-center">
      <a class="text-muted h5" data-toggle="collapse" data-target="#roomsList" href="#roomsList" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        Rooms
      </a>
      <button class="btn btn-white p-0" data-toggle="modal" data-target="#createRoom"> <i class="fa fa-plus"
          aria-hidden="true"></i></button>
    </div>

    <div class="collapse" id="roomsList">
      <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <% rooms.forEach(room => { %>
        <a class="nav-link openroom" style="border-radius: 0 !important;" id="v-pills-home-tab"
          onclick="goodbyeworld(event)" data-toggle="pill" role="tab" href='#<%= room.name %>'
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between px-1">
            <span> <%= room.name %> </span>
          </div>
        </a>
        <% }) %>
      </div>
    </div>


    <div class="d-flex justify-content-between mx-3 mt-3">
      <a class="text-muted h5" data-toggle="collapse" href="#channelsList" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Channels
      </a>
      <p> <i class="fa fa-plus" aria-hidden="true"></i></p>
    </div>

    <div class="collapse" id="channelsList">
      <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Channel 1</span>
          </div>
        </a>

      </div>
    </div>
  </div>

  <div class="bg-secondary" id="sidepane-footer">
    <div class="d-flex justify-content-between align-items-center mx-2">
      <div class="">
        <img src="assets/images/cat.jpg" alt="" class="rounded-circle my-2" style="width: 35px;">
        <span class="text-muted"><%= user.displayName.split(' ')[0] %>
      </div>
      <div class="icons text-light">
        <div class="btn-group" role="group">
          <a type="button" class="btn btn-secondary" href="/auth/logout"> <i class="fa fa-sign-out-alt"
              aria-hidden="true"></i></a>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <!-- Button trigger modal -->
              <% if (user.plan === 'free') { %>
              <button class="dropdown-item mb-1" id="upgradePlanBtn"> Upgrade your
                plan <i class="fa fa-level-up-alt" aria-hidden="true"></i> </button>
              <% } %>
              <button class="dropdown-item d-flex justify-content-between" data-toggle="modal" data-target="#profile"><span>Profile</span>  <i class="fa fa-user" aria-hidden="true"></i> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="scripts/searchRoom.js"></script>
<script>
  let goodbyeworld = (e) => {
    $('.mainpan').collapse('show');
  }
</script>