<div class="d-flex flex-column w-100 h-100 pt-4 justify-content-between" id="sidepane">
  <div id="sidepane-header">
    <div class="d-flex justify-content-between mx-3">
      <a class="text-muted h5" data-toggle="collapse" href="#roomsList" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Rooms
      </a>
      <p> <i class="fa fa-plus" aria-hidden="true"></i></p>
    </div>

    <div class="collapse" id="roomsList">
      <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Room 1</span>
            <span class="badge badge-pilsl badge-danger d-flex align-items-center">1</span>
          </div>
        </a>
        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Room 2</span>
            <span class="badge badge-pilsl badge-danger d-flex align-items-center">1</span>
          </div>
        </a>
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Room 3</span>
            <span class="badge badge-pilsl badge-danger d-flex align-items-center">1</span>
          </div>
        </a>
      </div>
    </div>


    <div class="d-flex justify-content-between mx-3 mt-3">
      <a class="text-muted h5" data-toggle="collapse" href="#channelsList" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Channels
      </a>
      <p> <i class="fa fa-plus" aria-hidden="true"></i></p>
    </div>

    <div class="collapse" id="channelsList">
      <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Channel 1</span>
            <span class="badge badge-pilsl badge-danger d-flex align-items-center">10</span>
          </div>
        </a>
        <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Channel 2</span>
            <span class="badge badge-pilsl badge-danger d-flex align-items-center">2</span>
          </div>
        </a>
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">
          <div class="row justify-content-between">
            <span>Channel 3</span>
            <span class="badge badge-pilsl badge-danger d-flex align-items-center">1</span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="bg-secondary" id="sidepane-footer">
    <div class="d-flex justify-content-between align-items-center mx-2">
      <div class="">
        <img src="assets/images/cat.jpg" alt="" class="rounded-circle my-2" style="width: 45px;">
        <span class="text-muted">Faizan <span class="badge badge-pill badge-success">&nbsp;</span> </span>        
      </div>
      <div class="icons">
        <i class="fa fa-sign-out-alt mx-1" aria-hidden="true"></i>
        <i class="fa fa-cog mx-1" aria-hidden="true"></i>
        <i class="fa fa-ellipsis-v mx-1" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>