<div class="fabBtn-wrapper bg-primary d-none d-sm-block">
  <input id="fabCheckbox" type="checkbox" class="fabBtn-checkbox" />
  <label class="fabBtn" for="fabCheckbox">
    <span class="fabBtn-dots fabBtn-dots-1"></span>
    <span class="fabBtn-dots fabBtn-dots-2"></span>
    <span class="fabBtn-dots fabBtn-dots-3"></span>
  </label>
  <div class="fabBtn-wheel">
    <a class="fabBtn-action fabBtn-action-1" data-toggle="modal" data-target="#createRoom" title="Create Room"> 
      <i class="fas fa-plus"></i>
    </a>
    <a class="fabBtn-action fabBtn-action-2" data-toggle="modal" data-target="#joinRoom" title="Join Room">
      <i class="fas fa-users"></i>
    </a>
        <a class="fabBtn-action fabBtn-action-3">
      <i class="fas fa-address-book"></i>
    </a>
        <a class="fabBtn-action fabBtn-action-4">
      <i class="fas fa-info"></i>
    </a>
  </div>
</div>