
<div class="col">
    <label for="message" class="col-form-label">Write a Message:</label>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <input type="text" name="message" class="form-control bg-secondary text-white">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
        <button type="button" name="button" class="btn btn-success w-100">Send</button>
    </div>
</div>