<%- include('../includes/head') %> 

<body>
  <%- include('../partials/navbar') %> 
  <div class="container d-flex flex-column justify-content-center align-items-center h-100 mt-3">
    <img src="assets/images/404.svg" alt="Page Not Found" class="img-fluid mb-3" style="max-height: 100%; max-width: 65%;" >
    <h1 class="text-center">Seems like you're lost.</h1>
    <h4><a href="/">Home</a> is where the heart is.</h4>
  </div>
</body>


<%- include('../includes/end') %>