<%- include('../includes/head') %> 
<body>
  <%- include('../partials/navbar') %> 
  <div class="container">
    <div class="col mt-5 text-center">
      <h3>-About-</h3>
    </div>
    <div class="row my-3 mx-1">
      <div class="col-md-4 d-flex flex-column justify-content-between">
        <h5>ChatterBox is a free to use chat platform where you can enjoy instantaneous chatting with your friends or with people with similar hobbies as you do.</h5>
        <div class="text-left d-none d-sm-block">
          <a href="/signup" class="btn btn-primary w-50 ">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="w-100">
          <img class="w-100" src="assets/images/apppage.png" alt="login">
        </div>
      </div>
      <div class="col mx-2 mt-4 d-block d-sm-none text-center">
        <a href="/signup" class="btn btn-primary w-50 ">Get Started <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</body>
<%- include('../includes/end') %>