<%- include('../includes/head') %> 

<body>
  <%- include('../partials/navbar') %> 
  <div class="container">

    <div class="col mt-5">
      <h3>About ChatterBox </h3>
    </div>

    <div class="row my-3 mx-1">

      <div class="col-md-4">
        <p>ChatterBox is a <u>FREE</u> to use website where you can enjoy instantaneous chatting with your friends or with people with similar hobbies as you do, in hobby-based chatrooms. All you have to do is <u>SignUp</u> and <u>Login </u>. </p>
      </div>
      <div class="col-md-8">
        <div class="w-100">
          <img class="w-100" src="assets/images/apppage.png" alt="login">
        </div>
      </div>

    </div>

    <div class="col mx-2">
      <p> So what are you waiting for??? <a href="/signup" class="btn btn-primary"> SignUp </a> now!!! </p>
    </div>

  </div>
</body>


<%- include('../includes/end') %>