<%- include('../includes/head') %>

<body>

  <div class="container-fluid d-flex justify-content-center px-0 mx-0 " id="app-container">
    <div class="row w-100 text-center">
      <div class="col-sm-2 bg-grey justify-content-center d-flex w-100 mx-0 px-0">
        <%- include('../includes/sidepane.ejs') %> 
      </div>
      <div class="col-sm-8 bg-dark">
        <%- include('../includes/mainpane.ejs') %> 
      </div>
      <div class="col-sm-2 bg-grey d-none d-md-block">Info of Room / Channel</div>
    </div>
  </div>

</body>

<%- include('../includes/end') %>
<script src="scripts/app.js"></script>