<%- include('../includes/head') %> 
<body>
  <%- include('../partials/navbar') %> 

  <div class="container-fluid d-flex justify-content-center px-0 mx-0">
    <div class="row w-100 text-center">
      <div class="col-sm-2 bg-success">List of Rooms / Channels</div>
      <div class="col-sm-8 bg-info">Selected Room / Channel</div>
      <div class="col-sm-2 bg-warning d-none d-md-block">Info of Room / Channel</div>
    </div>
  </div>

</body>

<%- include('../includes/end') %>
<script src="scripts/app.js"></script>