<%- include('../includes/head') %> 
<body>
  <%- include('../partials/navbar') %> 
  <div class="container">
    <div class="about-clean" id="aboutUs">
      <div class="container">
        <div class="intro">
          <h2 class="text-center mt-5">Who are we? </h2>
          <h5 class="text-center">We are a team of egotistical and self-centered cat lovers and web developers. Also, we will one day take over charge of this planet and rule it.</h5>
        </div>
        <div class="row people bg-dark ">
          <div class="col-md-6 col-lg-4 item mt-3">
            <div class="box">
              <p class="description">Sometimes I’ll start a sentence, and I don’t even know where it’s going. I just hope I find it along the way.</p>
            </div>
            <div class="author"><img class="rounded-circle " src="./assets/images/cat1.jpg" />
              <h5 class="name">Hamna Farooq</h5>
              <p class="title">CEO of Planet Earth</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item mt-3">
            <div class="box">
              <p class="description">Would I rather be feared or loved? Easy. Both. I want people to be afraid of how much they love me.</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/images/cat2.png" />
              <h5 class="name">Faizan Zahid</h5>
              <p class="title">Founder of Happiness</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 item mt-3">
            <div class="box">
              <p class="description">Ultimatums are key. Basically nobody does anything for me unless I threaten to kill myself.</p>
            </div>
            <div class="author"><img class="rounded-circle" src="./assets/images/cat3.jpg" />
              <h5 class="name">Hamza Saeed</h5>
              <p class="title">Owner of Laser Beam Inc.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('../includes/end') %>