<%- include('../includes/head') %> 

<body>
  <%- include('../partials/navbar') %> 
  
  <div class="container">
    <div class="d-flex mainpage">

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="assets/images/welcomepic.svg" />
      </div>

      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <h1>Welcome!</h1>
        <p>Chatterbox is a social media platform for you to meet your like-minded peers and chat about your personal hobbies,
          interests and share project ideas with one another.</p>
          <!-- <p>Similar minded people can come online and chat about their common interests, in their respective rooms</p> -->
      </div>

    </div>
  </div>
  
</body>


<%- include('../includes/end') %>